/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Solway', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*======================*/
/*=====Main Nav=========*/
/*======================*/
.create-wish{
  border: 2px solid red;
}
.create-wishes-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*======================*/
/*=====HomeScreen=========*/
/*======================*/
.home-screen{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
/*======================*/
/*=====Formulaire Client=========*/
/*======================*/
.encard-image-carte{
	width: 25vw;
	height: 25vh;
}
.encard-image-carte img{
	width: 100%;
	height: 100%;
}
.radioput{
	display: none;
}
.wish-form-box{
	height: 80vh;
	width: 65vw;
	position: relative;
	border: 2px solid royalblue;
	background: lightblue;
	overflow: hidden;
}
.wish-box-screen{
	display: flex;
	position: absolute;
}
.form-size{
	height: 80vh;
	width: 65vw;
	border: 1px solid red;
}
.success-form{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.success{
	opacity: 1;
	z-index: 100;
}
.suc{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.success-box{
	position: relative;
	height: 15vh;
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	font-weight: bold;
	border-radius: 10px;
	border: 2px solid #CB2028;
}
.pos-exit-btn{
	position: absolute;
	width: 32px;
	height: 32px;
	top: -15px;
	right: -15px;
}
.encard-exit-success{
	width: 32px;
	height: 32px;
	background: white;
	border-radius: 100%;
}
.encard-exit-success{

}
.card-view{
	height: 60vh;
	width: 65vw;
	padding-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.sub-view{
	height: 20vh;
	width: 65vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.label-carte{
	margin: 10px;
}
.translate-form{
	transform: translateX(-65vw);
}
